.container-card {
    box-shadow: 2px 1px 8px rgb(25, 24, 24);
    display: flex;
    gap: 1rem;
    height: 15vw;
    width: 25vw;
}

.container-icon {
    width: 10vw;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header-card {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.container-svg {
    margin-left: auto;
}

.film-icon {
    height: 100%;
}

.film-rating {
    font-size: 18px;
}

.button-favorites {
    position: relative;
    font-size: 30px;
    background: none;
}

/* .button-favorites:hover {

} */

.button-save {
    position: relative;
    background: none;
}

/* .button-save:hover {
	
} */

.icon-save {
    width: 18px;
}

.film-title {
}

.button-more_link {
    font-size: 20px;
    background: none;
    margin-right: 1rem;
    margin-top: auto;
    padding: 10px 10px;
}

.button-more_link:hover {
    box-shadow: 0px 0px 8px rgb(25, 24, 24);
}

.container-svg > svg {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.container-svg > svg > path {
    transition: all 0.3s ease-in-out;
}

.container-svg > svg > path:hover {
    transition: all 0.3s ease-in-out;
    fill: rgb(222, 115, 115);
}
